JWT_SECRET='your_jwt_secret_here'
DATABASE='./database.sql'
ADMIN_PASSWORD='change_me_immediately'
EDITOR_PASSWORD='editor_change_me'
OPERATOR_PASSWORD='operator_change_me'
HOST='0.0.0.0'
PORT='8080'
