.page {
    display: none;
}

.page.active {
    display: block;
}

.error.active {
    color: red;
}

.flex {
    display: flex;
}

.hidden {
    display: none !important; 
}

.current-session {
    background-color: #d3d3d3; 
}